<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="https://www.hanwha.com/content/dam/hanwha/etc/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.hanwha.com/content/dam/hanwha/etc/favicon.ico">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/build.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm" style="background: #23282D;">
                {% block sidebar %}
                <ul>
                    <div>
                        <a href="{% url 'index' %}" class="text-light" style="text-decoration: none">
                            <img src="{% static 'images/dashboard.png' %}" 
                                style="width: 9%">
                            Dashboard
                        </a>
                    </div>
                    {% if user.view_all == True %}
                    <div>
                        <a href="{% url 'users' %}" class="text-light" style="text-decoration: none">
                            <img src="{% static 'images/list.png' %}" 
                                style="width: 9%">
                            List users
                        </a>
                    </div>
                    {% endif %}
                    <div class="text-light align-middle" style="margin-top: 10%">
                        <a href="/user/{{ request.user.id }}" class="text-light" style="text-decoration: none">
                            <img src="{% static 'images/user.png' %}" 
                                style="width: 8%">
                            {{ user.username }}
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'logout'%}" class="text-light" style="text-decoration: none">
                            <img src="{% static 'images/logout.svg' %}" 
                                style="width: 5%">
                            &nbsp; Logout
                        </a>
                    </div>
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10" style="background: #F3F3F3">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    
</body>
</html>


